@import url("https://fonts.googleapis.com/css2?family=Acme&family=DM+Serif+Display:ital@0;1&family=Noto+Sans+Kannada:wght@100..900&family=Noto+Sans+Malayalam:wght@100..900&family=Noto+Sans+Tamil:wght@100..900&family=Noto+Sans+Telugu:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #6a60ff;
  --header-color: #fefeff;
  --body-color: #e3eafa;
  --text-color: #333;
  --border-color: #333;
  --controls-color : #c4c0e9;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
body {
  position: relative;
  background-color: var(--body-color);
  transition: background-color 0.3s ease;
  /* background-color: #74E291; */
  /* background-color: var(--primary-color); */
}

body.dark {
  /* --header-color : #272727; */
  --header-color: #101320;
  /* --body-color : #3d3d3d; */
  --body-color: #0e132c;
  --text-color: #e5e5ff;
  --border-color: #8b8b8b;
  --controls-color : #a3a3c5;
  --box-shadow-color: rgba(62, 91, 255, 0.2);
}
header {
  height: 70px;
  width: 100%;
  box-shadow: 0 0 40px var(--box-shadow-color);
  background-color: var(--header-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 40;
  border: none;
  position: sticky;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}
.menu_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger {
  position: relative;
  width: 27px;
  height: 17px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--text-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 19px;
  left: 5px;
}

.menu {
  position: absolute;
  left: -100%;
  top: 70px;
  height: calc(100dvh - 70px);
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-color);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 50px 70px var(--box-shadow-color);
  overflow: hidden;
}
.menu.active {
  left: 0;
}
.logo {
  margin-left: 30px;
  margin-right: auto;
}
.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--main-color);
}

.logo a img {
  height: 50px;
  width: 50px;
}

.logo a p {
  font-size: 35px;
  font-weight: 500;
  font-family: "Acme", sans-serif;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.nav_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  /* background-color: #8b8b8b; */
  /* padding-left: 20%; */
}

.nav_item a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  /* background-color:aqua; */
}
.nav_item a ion-icon {
  transform: rotate(-45deg);
  font-size: 27px;
  transition: all 0.4s ease-in-out;
}

.nav_item a::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  top: 90%;
  background-color: var(--main-color);
  border-radius: 3px;
  transition: 0.3s;
}

.nav_item a:hover::before {
  width: 100%;
}
.nav_item a:hover ion-icon {
  transform: translate(5px, -5px) rotate(-45deg);
}

.logout_btn #logoutButton {
  border: 3px solid var(--main-color);
  background-color: transparent;
  border-radius: 8px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease;
}
.logout_btn #logoutButton:hover{
    background-color: var(--main-color);
    color: #ecf2fa;
}
.logout_outside #logoutButton{
    margin: 0 30px;
    padding: 7px 28px;
}
.logout_inside{
    display: flex;
    opacity: 0;
    width: 100%;
}
.logout_inside #logoutButton{
    width: 80%;
    padding: 7px ;
    margin: 0 auto;
}
.user_info{
  position: relative;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 8px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.user_info::before{
  content: '';
  position: absolute;
  top: -10px;
  height: 2px;
  left: 0;
  width: 100%;
  background-color: var(--border-color);
  border-radius: 1px;

}
.user_info .user_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  object-fit: cover;
}
.user_info .user_img span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

.user_details .userName_display{
  font-size: 23px;
  font-weight: 600;
}
.user_details .email_address{
  font-size: 14px;
  overflow: hidden;
}


.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #183153;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 20px;
  left: 3px;
  bottom: 3px;
  z-index: 2;
  background-color: var(--header-color);
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 5.5px;
  z-index: 3;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.moon svg {
  fill: #fefeff;
  position: absolute;
  top: 6px;
  left: 35px;
  z-index: 3;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: var(--main-color);
}
.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  background-color: var(--header-color);
  transform: translateX(30px);
}

.disclaimer {
  background-color: var(--body-color);
  color: var(--text-color);
  height: calc(100vh - 70px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 90px;
  position: relative;
}

.disclaimer .welcome {
  margin-bottom: 30px;
  max-width: 45%;
}

.welcome h2 {
  font-size: 67px;
  color: var(--main-color);
  font-family: "Acme", sans-serif;
}

.welcome p {
  font-size: 23px;
  margin-top: 10px;
}

.welcome button {
  padding: 10px 25px;
  width: 200px;
  font-size: 19px;
  letter-spacing: 3px;
  font-weight: 600;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 30px var(--box-shadow-color);
  color: var(--text-color);
  background-color: transparent;
  border-radius: 9px;
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.welcome #login_btn{
  background-color: var(--main-color);
  color: #fff;
}

.welcome button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.welimg {
  position: relative;
}

.welimg embed {
  height: 440px;
  width: 580px;
  z-index: 2;
}

.login_wrapper,
.register_wrapper {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 70px);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
}

.show {
  display: block;
}

.container {
  position: absolute;
  max-width: 400px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: var(--header-color);
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 5px var(--box-shadow-color);
  transition: 0.5s;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--text-color);
  font-size: 25px;
  opacity: 0.7;
  cursor: pointer;
}

.container h2 {
  font-size: 24px;
  color: var(--main-color);
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid var(--border-color);
  color: var(--text-color);
  padding: 0 30px;
  transition: all 0.2s ease;
  font-size: 16px;
}

.input_box input:focus {
  border-bottom: 2px solid var(--main-color);
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input_box i.email,
.input_box i.password {
  left: 0;
  color: var(--border-color);
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: var(--main-color);
}

.input_box i.pw_hide {
  right: 0;
  color: var(--border-color);
  cursor: pointer;
  font-size: 18px;
}

.option_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.container a {
  color: var(--main-color);
  font-size: 14px;
}

.container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 7px;
  font-size: 12px;
}

.checkbox input {
  background-color: var(--main-color);
}

.checkbox label {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  color: var(--text-color);
}

.container .button {
  width: 100%;
  padding: 7px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 24px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.login_singnup {
  color: var(--text-color);
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}







.home {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 70px);
  max-width: 2000px;
  position: relative;
  background-color: var(--body-color);
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.head {
  position: relative;
  margin: 15px;
  height: 40px;
  margin-bottom: 50px;
}

.head h1{
  font-size: 40px;
  font-family: "DM Serif Display", serif;
  text-align: center;
  color: var(--text-color);
}
.head h1 .userName_display {
  color: var(--main-color);
  font-size: 40px;
  font-family: "DM Serif Display", serif;
}

.trans_container {
  position: relative;
  width: 95%;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.input_container,
.output_container {
  width: 50%;
  position: relative;
}

.input_container .input_head,
.output_container .output_head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .input_container .input_head span:nth-child(1),.output_container .output_head span:nth-child(1){
    margin-right: auto;
} */
.input_container .from,
.output_container .to {
  width: 60%;
  background-color: #b5b0ff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  /* gap: 20px; */
}
.language_trigger {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px 0 40px;
  justify-content: space-between;
  margin-left: auto;
  cursor: pointer;
}
.downarrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_head .dropdown-menu,
.output_head .dropdown-menu {
  border-top: 1px solid var(--border-color);
  position: absolute;
  top: 50px;
  width: 60%;
  max-height: 290px;
  list-style-type: none;
  padding: 20px;
  background-color: #b5b0ff;
  font-size: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: scroll;
  opacity: 0;
  height: 0;
  pointer-events: none;
}
.input_head .dropdown-menu.active,
.output_head .dropdown-menu.active {
  opacity: 1;
  height: auto;
  pointer-events: all;
}
.input_head .dropdown-menu.active ~ .from,
.output_head .dropdown-menu.active ~ .to {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input_head .dropdown-menu .option,
.output_head .dropdown-menu .option {
  padding: 7px 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.input_head .dropdown-menu .option.active,
.output_head .dropdown-menu .option.active {
  background-color: var(--main-color);
  color: #fff;
}
.input_head .dropdown-menu .option:not(.active):hover,
.output_head .dropdown-menu .option:not(.active):hover {
  background-color: #ecf2fa;
}
.input_head .dropdown-menu::-webkit-scrollbar,
.output_head .dropdown-menu::-webkit-scrollbar {
  width: 25px;
  background-color: transparent;
}
.input_head .dropdown-menu::-webkit-scrollbar-thumb,
.output_head .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50px;
  border: 8px solid #b5b0ff;
}

.input_container #input_text,
.output_container #output_text {
  width: 100%;
  height: 300px;
  padding: 15px;
  font-size: 22px;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}
.input_container #input_text {
  border-right: 2px solid var(--border-color);
  /* background-color: #f7f7f7; */
}
.output_container #output_text {
  padding-left: 40px;
  transition: all 0.3s ease-in;
  font-family: "Tiro Devanagari Hindi", "Noto Serif JP", "Noto Sans Kannada",
    "Noto Sans Malayalam", "Noto Sans Tamil", "Noto Sans Telugu", sans-serif;
}

.swapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--body-color);
  padding: 5px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}
.swapper .swapper_icon {
  background-color: var(--main-color);
  color: #fff;
  font-size: 23px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}
.swapper .swapper_icon:hover {
  transform: scale(1.05);
}
/* .swapper .swapper_icon:hover ion-icon {
  transform: scale(1) rotate(0deg);
} */
.controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 45px;
  margin: 0;
}
/* .input_container .input_controls{
    border-right: 1px solid #333;
} */
.controls div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--controls-color); 
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.controls div:not(.mic):hover {
  background-color: var(--main-color);
  color: #fff;
}

.toast{
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: var(--body-color);
    color: var(--text-color);
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 0 40px var(--box-shadow-color);
    transition: background-color .3s ease, opacity .4s ease,bottom .4s ease-in-out;
}
.toast.show{
    bottom: 20px;
    opacity: 1;
    width: auto;
}
.toast .success{
    background-color: green;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width : 767px) {
    header{
        padding: 0 20px;
    }
    .burger {
        width: 24px;
        height: 14px;
    }
          
    .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 18px;
        left: 5px;
      }
    .logo a img {
        height: 40px;
        width: 40px;
    }
    .logo a p {
        font-size: 30px;
    }
    .logout_outside{
        display: none;
    }
    .logout_inside{
        opacity: 1;
    }
    .home {
        height: auto;
    }
    .head h1{
      font-size: 33px;
    }
    .head h1 .userName_display{
      padding-top: 20px;
      font-size: 33px;
    }
    .trans_container {
        width: 95%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px 0px;
        margin-bottom: 25px;
        gap: 90px;
    }
      .input_container,
      .output_container {
        width: 100%;
        position: relative;
    }
    .input_container::after{
        content: '';
        position: absolute;
        bottom: -46px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px ;
        width: 90%;
        background-color: var(--border-color);
    }
    .input_container .from,
    .output_container .to {
        width: 90%;
        border-radius: 30px;
        padding: 10px 18px;
    }
    .language_trigger {
        padding: 0 5px 0 20px;
        justify-content: space-between;
        font-size: 18px;
    }
    .input_head .dropdown-menu,
    .output_head .dropdown-menu {
        width: 90%;
        max-height: 245px;
        padding: 15px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        overflow-y: scroll;
    }
    .input_head .dropdown-menu .option,
    .output_head .dropdown-menu .option {
        padding: 5px 12px;
        border-radius: 20px;
        font-size: 18px;
    }
    .input_container #input_text {
        border-right: 0px;        
    }
    .output_container #output_text {
        padding-left: 15px;
    }
    .swapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--body-color);
    }
    .swapper .swapper_icon {
        height: 45px;
        width: 45px;
        transform: rotate(90deg);
    }
    .swapper .swapper_icon:hover {
        transform: rotate(90deg) scale(1.05); 
    }


    /* For first page */


    .disclaimer {
      height: calc(100dvh - 70px);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 30px 35px;
    }
    
    .disclaimer .welcome {
      /* text-align: center; */
      margin-top: 30px;
      max-width: 90%;
    }
    
    .welcome h2 {
      font-size: 55px;
    }
    
    .welcome p {
      font-size: 19px;
      margin-top: 10px;
    }
    
    .welcome button {
      width: 100%;
      box-shadow: 0 0 60px rgba(106, 96, 255,.6);
      border-radius: 30px;
      margin-left: 0px;
    }
    .welcome #login_btn{
      background-color: var(--main-color);
      color: #fff;
    }
    .welimg embed {
      height: 250px;
      width: 390px;
    }
    
}